.state-card-list, .state-search-list {
  background-color: $white;
}

.state-card {
  padding: 30px 20px;
  min-width: 300px;

  h2 {
    color: $dark-gray;
    text-transform: uppercase;
  }
  &:hover {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  }
}

.totals {
  border-top: 3px solid $stroke-color;
  border-bottom: 3px solid $stroke-color;
  margin-top: 10px;
  border-spacing: 0;

  p {
    color: $dark-gray;
  }
}

.state__key {
  width: 50%;
  border-bottom: 1px solid $stroke-color;
  padding: 10px 10px 10px 0;
  border-right: 1px solid $stroke-color;

  & h3 > span {
    display: block;
  }
}

.state__value {
  width: 50%;
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid $stroke-color;
}

.state__item--green {
  color: $font-green;
}

.state__item--red {
  color: $font-red;
}

.state__value--highlight-green {
  width: 50%;
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid $stroke-color;
  
  p {
    background-color: $highlight-green;
    display: inline;
  }
}

.state__value--highlight-red {
  width: 50%;
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid $stroke-color;

  p {
    background-color: $highlight-red;
    display: inline;
  }
}

.state__item--double-border {
  border-bottom: 3px double $stroke-color;
}

// search
.state-search-list {
  padding: 17.5px 40px;
  display: flex;
  flex-flow: row wrap;
}

.state-abbreviation {
  width: percentage(1/14);
  margin: 10px 0;

  a {
    font-family: 'roboto--light';
    font-size: 2rem;
    color: $dark-gray;
    cursor: pointer;
  }
}

@media (max-width: 1023px) {
  .state-search-list {
    padding: 20px;
  }

  .state-abbreviation {
    width: percentage(1/4);
    margin: 20px 0;
    text-align: center;
  }
}