// colors
$seafoam: #9ff3dc;
$bg-color: #30414c;
$white: #ffffff;
$light-gray: #586873;
$dark-gray: #30414c;
$font-green: #2d8e11;
$font-red: #b5264c;
$highlight-green: #9ff3dc;
$highlight-red: #fee1e2;
$stroke-color: #bfccd6;

// typography
$base-font-size: 16px;
$base-line-height: 1.25rem;
